.lp-h {
    background-color: rgb(116, 202, 254);
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 50px;
}
.icon-home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
        padding-top: 0px;
    padding-top: 10vh;
}